{
    "logs" : "",
    "log_level" : "debug", # debug, info, error
    "tgm_api": "TELEGRAM APIKEY",
    "plugins_path": "plugins/",
    "users": ["userName"],
    "rpc_enabled": true,
    "rpc_port": 8082
}
